<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BiPOLAR PROJECT</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The Bipolar System is a tool for analyzing and providing information to researchers and inquirers about the spacial and temporal changes in Arctic and Antarctic ice. Through these analyzes, predict, evaluate, measure and report the damages that can be caused by activities at these poles. Provides an intuitive and efficient way for users to be informed and cautious on this subject. Using the tool, the user - in general, researcher or stakeholders - will be able to keep abreast of climate change, track progress / returns in recent years, interact with the most critical and affected areas.
    </p>
  </body>
</html>