<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | BiPOLAR PROJECT</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on the BiPOLAR PROJECT at the
      <a href="https://bi-polar.herokuapp.com/static_pages/help"> help 
      section</a>.
      Or send an email to: contact@bipolarproject.com 
    </p>
  </body>
</html>