<div class="center jumbotron">
  <h1>BiPOLAR PROJECT</h1>

  <h2>
    FEEL IT NOW, PREDICT THE AFTER
  </h2>
  <h2>
    34 new events since today!
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "BiPOLAR logo"),
            'http://versao.portaltrivia.com.br/MeLiJobs/BiPolar/Home.jpg' %>
