<%= form_for(@monitoring) do |f| %>
  <% if @monitoring.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monitoring.errors.count, "error") %> prohibited this monitoring from being saved:</h2>

      <ul>
      <% @monitoring.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
