<footer class="footer">
  <small>
    The <a href="https://bi-polar.herokuapp.com/">BiPOLAR PROJECT</a>
    by Luciano Trigueiro</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="https://youtu.be/opYSUbjb_wU">News</a></li>
    </ul>
  </nav>
</footer>